{% extends 'base.html' %}

<!-- Still need to add the head block for the html files which handles the title of the page -->

{% load static %}
{% load socialaccount %}


{% block content%}
<div class="container">
    <h2>Login using one of these social applications:</h2>
    <button class="btn btn-danger"><a href="{% provider_login_url 'google' %}" style="color: white;">Login with google</a></button>
    <h2>Else login using Treas account or create a treas account:</h2>
    <form  method="POST">

        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">
        <label for="password">Password:</label>
        <input type="password" name="password">

        <input type="submit" value="login">
    </form>
    <button><a style="color: white;" href="{% url 'register' %}">Register account</a></button>
</div>
{% endblock content %}