{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container">
    <h2>The Largest Tree:</h2>
    <p class="center">The largest tree in the world is a giant sequoia (Sequoiadendron giganteum) 
        in California's Sequoia National Park. Called General Sherman, 
        the tree is about 52,500 cubic feet (1,487 cubic meters) in volume</p>
    
    <h2>That tree is impressive but....</h2>
    <p class="center">Pando (Latin for "I spread out"), also known as the trembling giant,
        is a clonal colony of an individual male quaking aspen (Populus tremuloides) determined to be a single living organism by identical genetic markers
        and assumed to have one massive underground root system.Pando occupies 43 hectares (106 acres) and is estimated to weigh collectively 6,000,000 kilograms (6,600 short tons),
        making it the heaviest known organism</p>
    
        <hr>
    <h2>Ant that's all you need to know about us or me.</h2>
</div>
{% endblock content %}