{% load static %}
<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Base</title>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static '/Treas/css/list.css' %}"> 

    
</head>
<body>
  <nav class="navbar navbar-expand-sm  navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}"> <em>TeamTreas</em></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" href="{% url 'admin:index' %}" >Admin</a>
        </li>
        <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}       
        <li>
          <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
        </li>
        {% else %}
        <li>
          <a class='nav-link' href="{% provider_login_url 'google' %}">Login with Google<span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
        {% endif %}
      </ul>
      
</div>
  </nav>
  <div class="box">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>